* {
    font-family: raleway;
    font-size: 22px;
    color: rgb(5, 13, 90);
    
}


/* Top Nav bar code */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    display:flex;
    justify-content: flex-end;
}

nav ul li {
    cursor:poiter;
    padding: 0.5rem;
}

nav ul li:hover {
    cursor: pointer;
    padding: 0.5rem;
}



    

/*search bar code */

.searchbar {
 border: 2px solid black;
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
justify-content: flex-end;
 width: 540px;
 height: 70px;
 border-radius: 30px;
 overflow:hidden;
}


.item {
    width: 100px;
    height: 70px;
}

.searchbar div:nth-child(1) {
    background-color: #f2f2f2;
}

.searchbar div:nth-child(2) {
    background-color:  white;
    color:black;
    width: 350px;
    font-size:35px;
    
}

.searchbar div:nth-child(3) {
    background-color: #1e90ff;
    width: 150;
    text-align: center;
    
    font-size: 35px;
    vertical-align: sub;  
    align-content: center; 
}