* {
    font-family:Arial, Helvetica, sans-serif;
    font-size: .5em;
    color: white;
    
}

/* Top Nav bar code */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: raleway;
    display:flex;
    justify-content: flex-end;
}

nav ul li {
    cursor:poiter;
    padding: 0.5rem;
}

nav ul li:hover {
    cursor: pointer;
    padding: 0.5rem;
}



    

/*search bar code */

.searchbar {
 border: 2px solid black;
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
justify-content: flex-end;
 width: 540px;
 height: 70px;
 border-radius: 30px;
 overflow:hidden;
}


.item {
    width: 100px;
    height: 70px;
}

.searchbar div:nth-child(1) {
    background-color: #f2f2f2;
}

.searchbar div:nth-child(2) {
    background-color:  white;
    color:black;
    width: 350px;
    font-size:35px;
    
}

.searchbar div:nth-child(3) {
    background-color: #1e90ff;
    width: 150;
    text-align: center;
    
    font-size: 35px;
    vertical-align: sub;  
    align-content: center;
   
    
    
}



/*
input{
   
    border: none;
    
    
  }

  input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
  }
  
  button {
    /* Just a little styling to make it pretty */
    border:1px solid #1e90ff;
    background:#1e90ff;
    color:white;
    /*
   
  }  
   

      

